body {
    margin: 0px;
    font-family: 'Roboto', sans-serif;
}

p, h1, h2 {
    margin: 0;
}

* {
    box-sizing: border-box;
}

.welcome-section {
   background-image: url("./images/@\ Gradient.png");
   background-size: cover;
   background-repeat: no-repeat;
   padding-bottom: 134px;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 48px 40px;
    margin-bottom: 80px;
}

.header-logo-container {
    padding: 10px 30px;
    margin-right: 12px;
}

.header-list {
    margin-right: 40px;
    display: flex;
    list-style: none;
    padding-left: 0px;
    color: #fff;
}

.header-list-item {
    padding: 10px;
    margin-right: 20px;
}

.header-list-item:last-child {
    margin-right: 0px;
}

.header-list-item .link {
    color: #fff;
    text-decoration: none;
}
.header-form{
    display: flex;
}
.header-form-input {
    background-color: #EFEFEF;
    border-radius: 39px;
    border: 1px solid #E8E8E8;
    padding: 20px 40px;
    margin-right: 12px;
    
}

.header-form-button {
    padding: 20px 40px;
    background-color: #FFFFFF;
    border-radius: 35px;
    border: none;
    cursor: pointer;
    color: #2091F9;
    font-weight: 500;
    font-size: 16px;
    line-height: 16px;
}

.center-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #FFFFFF;
    font-weight: bold;
}

.center-section-text {
    margin-bottom: 8px;
    font-size: 22px;
    line-height: 33px;
    font-weight: 500;
}

.center-section-title {
    padding: 10px;
    margin-bottom: 8px;
    font-size: 55px;
    line-height: 65px;
}

.center-section-subtitle {
    padding: 10px;
    margin-bottom: 80px;
    font-size: 16px;
    line-height: 20px;
    font-weight: 500;
    text-align: center;
}
.center-section-button {
    padding: 16px 58px;
    margin-bottom: 114px;
    background: #FFFFFF;
    border-radius: 35px;
    font-size: 22px;
    line-height: 33px;
    color: #2091F9;
    border: none;
    font-weight: bold;
    cursor: pointer;
}

.welcome-section-img-container {
    display: flex;
    justify-content: center;
}

.features-section {
    background-color: #FFFFFF;
    padding-top: 96px;
}

.top-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 70px;
}

.top-section-text {
    margin-bottom: 8px;
    font-size: 22px;
    line-height: 33px;
    font-weight: 700;
    color: #252B42;
}

.top-section-title {
    padding: 10px;
    margin-bottom: 8px;
    font-size: 46px;
    line-height: 57px;
    font-weight: 400;
    color: #252B42;
}

.top-section-subtitle {
    padding: 10px;
    font-size: 16px;
    line-height: 20px;
    font-weight: 700;
    color: #374754;
    text-align: center;
}

.features-section-container {
    display: flex;
}